/* Damien Alary */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #444;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.header-logo {
    display: block;
    margin: 10px auto 20px;
    max-width: 100px;
    height: auto;
}

.grid-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    list-style: none;
    padding: 0;
}

.grid-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid transparent;
    text-align: center;
    transition: 0.3s;
}

.grid-nav a:hover {
    background-color: #34495e;
    border: 2px solid #fff;
}

.zebra-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.zebra-table thead tr {
    background-color: #2c3e50;
    color: white;
}

.zebra-table th, .zebra-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.zebra-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.zebra-table tbody tr:nth-child(even) {
    background-color: #eaeaea;
}

footer {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
}

footer a {
    text-decoration: none;
}

.source-link {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s ease;
}

.source-link:hover {
    color: blue; 
    text-decoration: underline; 
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 2em;
    }

    .grid-nav {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }

    .header-logo {
        max-width: 80px; 
    }

    .zebra-table th, .zebra-table td {
        font-size: 0.9em; 
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.5em;
    }

    .grid-nav {
        grid-template-columns: 1fr; 
    }

    .zebra-table {
        font-size: 0.8em; 
    }

    .zebra-table th, .zebra-table td {
        padding: 8px;
    }

    footer {
        font-size: 0.9em; 
    }
}

